* {
    padding: 0;
    margin: 2em;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#name {
    width: 20em;
    height: 5em;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5em;
    box-shadow: 5px 5px 5px black;
}
#generate {
    background-color: teal;
    color: beige;
    height: 5em;
    width: 20em;
    border-radius: 20px;
}

#generate:hover{
    cursor: pointer;
}
#history{
    border: 1px solid black;
    font-size: 2em;
}
